body {
    align-items: center; 
    justify-content: center;
    background-color: #6ecfb5;
    background-size: cover;
    color: #000;
}

h1 {
    font-family: 'Itim', cursive;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
}

h2 {
    font-family: 'Itim', cursive;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

p {
    font-family: 'Itim', cursive;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

#container {
    display: block;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-text {
    font-size: 6em;
    position: relative;
    text-align: center;
    top: 120px;
    background-color: #fff;
    padding: 30px;
    width: 70%;
    border-radius: 15px;
}

#icons {
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
}

.profile {
    width: 150px;
    height: 150px;
    border: 1px;
    border-radius: 15px;
    margin-right: 20px;
    padding: 25px;
    opacity: 0.7;
}

.profile:hover {
    opacity: 1;
    cursor: pointer;
}

.icon {
   display: block;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.icon-text {
    font-size: 1.7em;
}

#back-button {
    color: #fff;
    position: relative;
    left: 60px;
    top: 20px;
}

#back-button:hover {
    color: #96f481;
    cursor: pointer;
}

/*
#start {
    position: relative;
    display: block;
    margin: auto;
    font-size: 2.3em;
    padding: 10px;
    background-color: #60ff30;
    color: #000;
    font-family: 'Itim', cursive;
    top: 180px;
    visibility: hidden;
}

#start:hover {
    cursor: pointer;
    background-color: #b6ffa0;
}

#start a {
    text-decoration: none;
    color: #000;
}
*/
