body {
  background-color: #E5A063;
/*
    position: relative;
    top: 40px;
*/
    
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Itim', cursive;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
}

h2 {
    font-family: 'Itim', cursive;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

p {
    font-family: 'Itim', cursive;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.mainImage {
  width: 400px;
  margin-top: 20px;
    position: relative;
    top: 40px;
}

#no-hat {
    width: 350px;
}

.left{
  display: inline-block;
  width: 40%;
}

.character {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
  display: inline-block;
    position: relative;
    top: 130px;
  width: 50%;
  vertical-align: top;
  align-items: center;

}

.instructions{
    background-color: white;
    border-radius: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.instructions h1 {
  padding: 5%;

}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
  width: 150px;
}

.image{
  display: inline-block;
  margin: 2%;
  background-color: #F2C94C;
  padding: 2%;
  margin-top: 8%;
  border-radius: 10%;
    cursor: pointer;

}

.image:hover {
    background-color: #ffe69b;
}



.next {
    position: relative;
    display: block;
    margin: auto;
    font-size: 2em;
    background-color: #7FFA8C;
    color: #000;
    font-family: 'Itim', cursive;
    visibility: hidden;
}

.next:hover {
    cursor: pointer;
    background-color: #b6ffa0;
}

.next a {
    text-decoration: none;
    color: #000;
}

.back-button {
    color: #fff;
    position: relative;
    left: 60px;
    top: 20px;
}

.back-button:hover {
    color: #7FFA8C;
    cursor: pointer;
}

#fire-icon {
    color: #f99202;
}
