body {
    background-color: #6ecfb5;
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Itim', cursive;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
}

.back-button {
    color: #fff;
    position: relative;
    left: 60px;
    top: 20px;
}

.back-button:hover {
    color: #96f481;
    cursor: pointer;
}

.container {
    display: inline-block;
    position: relative;
    top: 160px;
}

#instructions {
    background-color: #fff;
    border-radius: 2.5em;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vehicle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vehicle {
    background-color: #96C6E0;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.vehicle:hover {
    cursor: pointer;
    background-color: #bce7ff;
}

#finish {
    position: relative;
    display: block;
    margin: auto;
    font-size: 1.5em;
    background-color: #60ff30;
    color: #000;
    font-family: 'Itim', cursive;
    visibility: hidden;
    font-size: 2em;
}

#finish:hover {
    cursor: pointer;
    background-color: #b6ffa0;
}

#finish a {
    text-decoration: none;
    color: #000;