body {
    background-image: url(/pictures/misc/cloud-background.jpg);
    background-repeat: no-repeat;
    color: white;
     
    background-size: cover;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;/*    font-family: 'Dosis', sans-serif;*/
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
}

h2 {
    font-family: 'Patrick Hand SC', cursive;/*    font-family: 'Dosis', sans-serif;*/
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

p {
    font-family: 'Patrick Hand SC', cursive;/*    font-family: 'Open Sans', sans-serif;*/
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

#main-title {
    text-align: center;
    font-size: 8em;
}

/*
#playbutton:visited {
    color: red;
}
*/

#playbutton {
    color: #75d369;
}

#playbutton:hover {
    color: #b3f7aa;
}


#main {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 170px;
    
}

#index-pic {
    position: relative;
    left: 100px;
    height: 40%;
    width: 300px;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
    overflow-x: hidden;
}


